<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Version 3.5</span>
    <a
      b-slate-link
      href="https://talk.awaland.info/" target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://talk.awaland.info/" target="_blank"
    >
      Using
    </a>
  </p>
</footer>
